body{
    font-size: 15px;
    background-color:white;
    min-height: 100vh;
    display: grid;
    margin: 0%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

main{
    margin: 0%;
    width: 375px;
    display: grid;
    height: 887px;
}

.container{
    width: 375px;
}
h1{
    position: absolute;
    top: 6%;
    left: 47%;
    bottom: 49%;
    
    color: hsl(300, 43%, 22%) ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;

}

.content p{
    position: absolute;
    top: 23%;
    width:19em ;
    left: 7em;
    color: hsl(303, 10%, 53%);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2; 
    text-align: center;
}

.ratings{
    position: relative;
    bottom: 34em;
    right: 43em;
    width: 69%;
    justify-content: space-evenly;
}

.rating-1{
    background-color:hsl(300, 24%, 96%) ;
    position: relative;
    left: 50em;
    bottom: 23.3em;
    height: 70px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

 h4{

  position: relative;
  left: 6px;
  top: 1px;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  display: grid;
  text-align: center;
  
  
}

.rating-2{
    position: relative;
    left: 50.0em;
    bottom: 22.3em;
    background-color: hsl(300, 24%, 96%) ;
    height: 70px;
    align-items:center;
    justify-content: center;
    border-radius: 10px;
}

#Stars-1, #Stars-2, #Stars-3{
    position: relative;
    top: 20%;
    left: 75px;
}

.rating-3{
    position: relative;
    left: 50em;
    bottom: 21.3em;
    background-color: hsl(300, 24%, 96%);
    height: 70px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.reviews{
    position: relative;
    bottom: 39em;

}

.colton{
    background-color: hsl(300, 43%, 22%);
    width: 69%;
    position: relative;
    bottom: 14em;
    left: 7em ;
    border-radius: 10px;
    height: 27vh;
}

.img-1{
    position: relative;
    left: 15%;
    top: 27px;
}

.reviews img{
    border-radius: 50%;
    width: 12%;
}

h3{
    left: 35%;
    position: relative;
    bottom: 33px;
    color:hsl(0, 0%, 100%) ;
}

span{
    left: 35%;
    position: relative;
    bottom: 49px;
    color: hsl(333, 80%, 67%);
    font-size: 15px;
    font-weight: 400;
}

.reviews p{
    width: 89%;
    position: relative;
    left: 10%;
    top: -50px;
    color: hsl(0, 0%, 100%);
   
}

.two{
    position: relative;
    bottom: 36.1em;
    left: 23em;
}

.irene{
    background-color: hsl(300, 43%, 22%);
    position: relative;
    width: 69%;
    bottom: 16em;
    right: 16em;
    border-radius: 10px;
    height: 27vh;
}

.img-2{
    position: relative;
    left: 15%;
    top: 27px;
}

.two img{
    border-radius: 50%;
    width: 12%;
}

.two p{
    width: 81%;
    position: relative;
    left: 14%;
    top: -50px;
    color: hsl(0, 0%, 100%);
   
}

.three{
    position: relative;
    bottom: 48.2em;
    left: 45.5em;
}

.anne{
    background-color: hsl(300, 43%, 22%);
    position: relative;
    width: 69%;
    border-radius: 10px;
    height: 27vh;
    bottom: 3em;
    right: 38.4em;
}

.img-3{
    position: relative;
    left: 15%;
    top: 27px;
}

.three img{
    border-radius: 50%;
    width: 12%;
}

.three p{
    width: 89%;
    position: relative;
    left: 10%;
    top: -50px;
    color: hsl(0, 0%, 100%);
}